<section class="comments-area inner">
	<h2 class="comments-title"><span class="icon-plus-custom" aria-hidden="true"></span> Comments</h2>
	<div id="disqus_thread"></div>
	<div id="disqus_thread"></div>
</section><!-- .comments-area -->
