{{!-- Widget to display a text --}}
<section class="widget widget-text">
	<h2 class="widget-title">{{t "About {sitetitle}" sitetitle=@site.title}}</h2>
	<p>{{t "Jumbleberry's blog is driven by performance marketing leaders that share their knowledge to help you master the affiliate world. Keep up-to-date on the industry updates and latest Jumbleberry news."}}</p>
</section><!-- .widget -->
