{{!-- Widget to display a text --}}
<section class="widget widget-text">
	<h2 class="widget-title">{{t "Contact"}}</h2>
	<p>{{t "Jumbleberry is a paid media customer acquisition engine for direct-to-consumer brands. Interested in learning how we can help you scale your brand? Contact us for more information."}}</p>
    <p>If you are an affiliate interested in running traffic on the Jumbleberry network, <a href="https://partners.jumbleberry.com/signup/affiliate" target="_blank"> sign up to our platform </a> or contact us:</p>
	<ul class="contacts">
		<li>{{> "icons/envelope"}} <a href="mailto:info@jumbleberry.com">info@jumbleberry.com</a></li>
		<li>{{> "icons/phone"}} +1 888-832-9785</li>
		<li>{{> "icons/map-marker"}} <a href="https://goo.gl/maps/kuxBAp6Z96vtrnid9">171 E Liberty Street, Toronto, ON M6K 3P6</a></li>
	</ul>
</section><!-- .widget -->
