// Typography
$font-primary: gilroy,sans-serif;
$font-secondary: gilroy,sans-serif;

// Colors
$color-accent-hover: #4561ff;
$color-accent: #5072ff;
$gray-darkest: #162765;
$gray-darker:  #252525;
$gray:         #525252;
$gray-light:   #ccc;
$gray-lighter: #efefef;
$yellow-pale:  #e3e7f8;
$red:          #00acb9;
